/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

/* Header styles */
header {
    background-color: #4b3d7c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.cta-buttons button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effect for PC Builder button */
.cta-buttons button:hover {
    background-color: #f7ad0e; /* Darker green */
    color: #222222; /* Lightened text color */
}



/* Hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: #dad1da;
}

.hero img {
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.hero-text h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.hero button {
    background-color: green;
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

/* Featured Products section */
.featured-products {
    padding: 50px;
    background-color: white;
}

.featured-products h2 {
    text-align: center;
    font-size: 2em;
    color: #6d42b7;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 50px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
}

.product-card .price {
    font-size: 1.2em;
    color: red;
    font-weight: bold;
}

.product-card .availability {
    color: green;
}

/* Hover Effect for Product Cards */
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Footer (optional) */
footer {
    text-align: center;
    padding: 20px;
    background-color: #4b3d7c;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
